@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Alterar a Palavra-passe";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
  Layout = "_CustomerDashboard";
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<p>
  Não tem um nome de utilizador/palavra-passe para este site.
</p>
<p>
  Preencha os campos abaixo, para regiatar-se como uma conta local<br />
  para poder iniciar sessão sem o início de sessão com o Google.
</p>
<div class="row mt-3">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
        <label asp-for="Input.NewPassword" class="form-label"></label>
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
      <div class="form-group">
        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" />

                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-lg btn-primary">Criar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
